<p>
  <%= link_to 'Back to mailboxes', mailboxes_path %>
</p>

<h1>
  Mailbox <%= @mailbox.name %>
</h1>

<p class="text-right">
  <%= link_to 'Edit', edit_mailbox_path(@mailbox), class: 'btn btn-primary' %>
  <%= link_to 'Destroy', mailbox_path(@mailbox), class: 'btn btn-danger', method: :delete, 'data-confirm': 'Are you sure you want to delete this mailbox?' %>
</p>

<table class="table">
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @mailbox.name %></td>
    </tr>
    <tr>
      <td>Mock Token</td>
      <td><%= @mailbox.sendgrid_mock_api_token %></td>
    </tr>
    <tr>
      <td>Sendgrid Token</td>
      <td><%= Array.new(10, '*').join('') %></td>
    </tr>
  </tbody>
</table>

<div class="card">
  <div class="card-body">
    <h2>Emails</h2>
    <hr>
    <%= render(partial: 'emails/table') %>
  </div>
</div>
